@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
 .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }   
 /* .blogs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}   */

.blog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
    justify-content: center;
    width: 260px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    margin: .5rem;
    cursor: pointer;
    transition: all .3s;
}

.blog-item h4{
    font-weight: 600;
}


.blog-item:hover {
    transform: translateY(-4px);
    box-shadow: 10px 8px 30px rgb(0 0 0 / 30%);
}

.blog-image {
    overflow: hidden;
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: .3rem;
}

.blog-image:hover img {
    transition: all .3s;
    transform: scale(1.1);
    border-radius: .3rem;
}

.blog-image img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 70%;
    height: 200px;
    background-size: contain;
    border-radius: .3rem;
}

.about-author img {
    width: 20%;
}

.blog-item h4{
    margin-top:0.4em;
    margin-bottom: 0;
}

.description {
  padding:0.4em;
    text-align: center;
    font-size: .85rem;
}

.blog-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    padding-bottom: 0.7em;
}

.detailsBtn {
    background: rgb(22, 7, 36);
    border: 2px solid rgb(17, 128, 0);
    padding: 0.5rem 2rem;
    border-radius: 6rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.detailsBtn:hover {
    background: green;
    border: 2px solid green;
}

@media screen and (max-width: 551px) {
    .blogs-container {
        justify-content: center;
    }
}