body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.error-code {
    font-size: 100px;
    font-weight: bold;
    color: rgb(22, 7, 36);
    margin-bottom: 20px;
}

.error-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.error-image {
    width: 300px;
    margin-bottom: 20px;
}

.error-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}